<p id="notice"><%= notice %></p>

<h1>Accesory Sales</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Sale</th>
      <th>Price sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesory_sales.each do |accesory_sale| %>
      <tr>
        <td><%= accesory_sale.quantity %></td>
        <td><%= accesory_sale.sale_id %></td>
        <td><%= accesory_sale.price_sale %></td>
        <td><%= link_to 'Show', accesory_sale %></td>
        <td><%= link_to 'Edit', edit_accesory_sale_path(accesory_sale) %></td>
        <td><%= link_to 'Destroy', accesory_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accesory Sale', new_accesory_sale_path %>
