<h1 align="center">Ajustes del sistema</h1>
<br>

<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Tipos de Cliente', type_clients_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Clientes', clients_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>

<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Tipos de Documento', type_docs_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Usuarios', users_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>

<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Proveedores', suppliers_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Colores de Lente', lent_colors_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>


<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Marcas de Lente', lent_marks_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Modelos de Lente', lent_models_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>

<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Series de Lente', lent_serials_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Tipo de Monturas',monture_types_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>

<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Tipos de Lente (receta)', lent_types_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Ventas',sales_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>


<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Tipos de Lente', lent_kinds_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Accesorios de Lente',lent_accesories_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>

<br>
<div class="row" align="center">
  <div class="col-xs-6"><%= link_to 'Historial de Consultas', history_clients_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
  <div class="col-xs-6"><%= link_to 'Ventas de Acecsorios',accesory_sales_path, class: "btn btn-primary btn-xl col-xs-6 col-sm-4" %></div>
</div>